// Override default variables before the import

// gray #666461
// darkmode white #FCFCFC

//black #1F1F22 
//darkmode gray #9F9F9F

//white #FCFCFC
//darkmode black #1F1F22 

//lightblue #0C84EB
// darkmode darkblue #063C84 gradient to #041D3B
/*
background: transparent linear-gradient(180deg, #063C84 0%, var(--unnamed-color-041d3b) 100%) 0% 0% no-repeat padding-box;
background: transparent linear-gradient(180deg, #063C84 0%, #041D3B 100%) 0% 0% no-repeat padding-box;
opacity: 1;
*/

//ligtherblue #39A3FF

//skyblue #0478DE

//skyeblue2  #5BA9ED

//skyblue3 #79BCFF

a {
text-decoration: none !important;
box-shadow: 0 0 0 0 currentColor;
}

.main-title {
  font-size: calc(20px + 3vw);
  line-height: 1;
}

a.fancy-link {
  position: relative;
  color:#666461
}

a.fancy-link:hover{
  color:#666461
}

a.fancy-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #666461;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  color:#666461

}

a.fancy-link:hover::before {
  visibility: visible;
  width: 100%;
  left: 0;
  right: auto;
  height: 2px;
  color:#666461

}

.wsans {
  font-family: 'Work Sans';
}

.roboto{
  font-family: 'Roboto', sans-serif;
}

.w-semibold {
  font-weight: 600;
}

.w-medium {
  font-weight: 500;
}

.w-regular {
  font-weight: 400;
}

.calendly {
  position: relative;
  top: 165px;
  left: 201px;
  width: 837px;
  height: 751px;
  opacity: 1;
}



// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';